.buttunVoltar-container {
    position:relative;
    top: 150%;
    left: 80%;
  }
  .example-container > * {
    width: 70%; 
  }
  

  .buttunSalvar-container {
    position:relative;
    background:slateblue;
    left: 70%;
  }
