.buttunVoltar-container {
    position:relative;
    top: 150%;
    left: 70%;
  }
  .example-container > * {
    width: 60%; 
  }
  
  .buttunSalvar-container {
    position:relative;
    left: 70%;
  }
