
  <td-layout>
    <td-navigation-drawer flex sidenavTitle="Resgistro de Certificados" name="Adminstrador" email="admin@admin.com">
      <mat-nav-list>
    
      </mat-nav-list>
    </td-navigation-drawer>
    <td-layout-nav  toolbarTitle="Resgistro de Certificados" navigationRoute="/">
      <button mat-icon-button td-menu-button tdLayoutToggle   >
        <mat-icon  >menu</mat-icon>
      </button>
      <td-layout-card-over >
        <router-outlet></router-outlet>
      </td-layout-card-over>
    </td-layout-nav>
  </td-layout>
 


