/* Structure */
.example-container {
  display: flex;
  flex-direction: column;
}



.example-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}


.buttunVoltar-container {
  position:relative;
  top: 150%;
  left: 80%;
}

.buttunAdd-container {
  position:relative;
  top: 150%;
  left: 80%;
  background:slateblue;
}