<form [formGroup]="tarefaForm">
        <md-card class="pad">
                <div>
                        <div>
                                <h1>
                                        <a *ngIf="!tarefa.id">Cadastrar Tarefa</a>
                                        <a *ngIf="tarefa.id">Editar Tarefa</a>
                                </h1>
                        </div>
                        <div>
                                <md-input-container>
                                        <input mdInput placeholder="Título" formControlName="tituloForm" [(ngModel)]="tarefa.titulo">
                                        <md-error *ngIf="!tarefaForm.controls.tituloForm.valid">
                                                <md-error *ngIf="tarefaForm.controls.tituloForm.errors.required">
                                                        Título é <strong>necessário</strong>
                                                </md-error>
                                                <md-error *ngIf="tarefaForm.controls.tituloForm.errors.maxlength">
                                                        Título é <strong>maior que 144 caracteres</strong>
                                                </md-error>
                                        </md-error>
                                </md-input-container>
                        </div>
                        <div>
                                <md-input-container>
                                        <textarea [rows]="5" mdInput placeholder="Descrição" formControlName="descricaoForm" [(ngModel)]="tarefa.descricao"></textarea>
                                        <md-error *ngIf="!tarefaForm.controls.descricaoForm.valid">
                                                <md-error *ngIf="tarefaForm.controls.descricaoForm.errors.maxlength">
                                                        Descrição é <strong>maior que 255 caracteres</strong>
                                                </md-error>
                                        </md-error>
                                </md-input-container>
                        </div>

                        <table>
                                <tr>
                                        <td>
                                                <md-input-container>
                                                        <input mdInput [mdDatepicker]="dataInicial" placeholder="Data Inicial" formControlName="dataInicialForm" [(ngModel)]="tarefa.dataInicial">
                                                        <button mdSuffix [mdDatepickerToggle]="dataInicial"></button>
                                                        <md-datepicker #dataInicial></md-datepicker>
                                                        <md-error>
                                                                Data Inicial é <strong>necessária</strong>
                                                        </md-error>
                                                </md-input-container>
                                        </td>
                                        <td>
                                                <md-input-container>
                                                        <input mdInput [mdDatepicker]="dataFinalPrevista" placeholder="Data Final" formControlName="dataFinalPrevistaForm" [(ngModel)]="tarefa.dataPrevistaFinal">
                                                        <button mdSuffix [mdDatepickerToggle]="dataFinalPrevista"></button>
                                                        <md-datepicker #dataFinalPrevista></md-datepicker>
                                                        <md-error>
                                                                Data Final é <strong>necessária</strong>
                                                        </md-error>
                                                </md-input-container>
                                        </td>
                                </tr>
                        </table>
                        <br>
                        <table>
                                <tr>
                                        <td>
                                                <md-select placeholder="Prioridade" formControlName="prioridadeForm" [(ngModel)]="tarefa.prioridade">
                                                        <md-option *ngFor="let prioridade of prioridades" [value]="prioridade.value">
                                                                {{ prioridade.viewValue }}
                                                        </md-option>
                                                </md-select>
                                                <md-error *ngIf="!tarefaForm.controls.prioridadeForm.valid">
                                                        <md-error (ngSubmit)="tarefaForm.controls.prioridadeForm.errors.required">
                                                                <span class="text-sm">
                                                                Prioridade é <strong>necessário</strong>
                                                        </span>
                                                        </md-error>
                                                </md-error>

                                        </td>
                                        <td>
                                                <md-input-container>
                                                        <input mdInput placeholder="Tempo Estimado (horas)" type="number" formControlName="tempoEstimadoForm" [(ngModel)]="tarefa.tempoEstimado">
                                                        <md-error *ngIf="!tarefaForm.controls.tempoEstimadoForm.valid">
                                                                <md-error *ngIf="tarefaForm.controls.tempoEstimadoForm.errors.required">
                                                                        Tempo estimado é <strong>necessário</strong>
                                                                </md-error>
                                                                <md-error *ngIf="tarefaForm.controls.tempoEstimadoForm.errors.min">
                                                                        Tempo estimado deve ser <strong> maior que 0</strong>
                                                                </md-error>
                                                        </md-error>
                                                </md-input-container>
                                        </td>
                                </tr>
                        </table>

                        <md-input-container>
                                <md-form-field>
                                        <input type="text" placeholder="Dono da tarefa" mdInput formControlName="donoTarefaForm" [(ngModel)]="tarefa.donoTarefa"
                                                [mdAutocomplete]="auto">
                                        <md-autocomplete #auto="mdAutocomplete" [displayWith]="displayAutocompleteUsuarioNome">
                                                <md-option *ngFor="let usuario  of usuarios" [value]="usuario">
                                                        {{ usuario.nome }}
                                                </md-option>
                                        </md-autocomplete>
                                </md-form-field>
                                <md-error *ngIf="!tarefaForm.controls.donoTarefaForm.valid">
                                        <md-error *ngIf="tarefaForm.controls.donoTarefaForm.errors.required">
                                                Dono da tarefa é <strong>necessário</strong>
                                        </md-error>
                                </md-error>
                        </md-input-container>

                        <div flex layout="row">
                                <span flex></span>
                                <button md-raised-button (click)="insertTarefa(tarefa)" *ngIf="!tarefa.id" color="primary">Salvar</button>
                                <button md-raised-button (click)="updateTarefa(tarefa)" *ngIf="tarefa.id" color="primary">Salvar</button>
                                <button md-raised-button [routerLink]="['']">Voltar</button>
                        </div>
                </div>
        </md-card>
</form>