<td-layout>

    <!-- Menu -->
    <td-navigation-drawer flex sidenavTitle="Agenda" name="Administrador" email="admin@admin.com">

        <md-nav-list>
            <a *ngFor="let item of menus" md-list-item md-list-item [routerLink]="item.route">
                <md-icon>{{item.icon}}</md-icon>{{item.title}}</a>
        </md-nav-list>

        <div td-navigation-drawer-menu>
            <md-nav-list>
                <a *ngFor="let item of usermenu" md-list-item md-list-item [routerLink]="item.route">
                    <md-icon>{{item.icon}}</md-icon>{{item.title}}</a>
            </md-nav-list>
        </div>

    </td-navigation-drawer>

    <td-layout-nav toolbarTitle="Agenda de Tarefas" navigationRoute="/">
        <button md-icon-button td-menu-button tdLayoutToggle>
            <md-icon>menu</md-icon>
        </button>

        <div td-toolbar-content>
            <!-- Aqui vai as coisas do toolbar -->
        </div>

        <md-content class="content-tabs-button tarefa-background">
            <!-- Aqui é meu content -->
            <router-outlet></router-outlet>
        </md-content>

        <td-layout-footer color="primary" class="tarefa-background">
            <!-- Aqui é meu footer -->
            <copyright-footer></copyright-footer>
        </td-layout-footer>

    </td-layout-nav>
</td-layout>