  
  .buttunVoltar {
    position:relative;
    top: 150%;
    left: 90%;
  }
  .tudo {
    min-height: 100%;

    }

    .buttunAdd-container {
      position:relative;
      top: 150%;
      left: 90%;
      background:slateblue;
    }


    .tamanhoColana{
      width: 450px;
      height: 30px;
    }

    .buttunPesquisa {
      position:relative;
      top: 150%;
      left: 60%;
    }