


 <mat-button-toggle class="buttunVoltar" [routerLink]="['']" >Voltar</mat-button-toggle>

 <mat-card-title>Detalhes do Colaborador</mat-card-title>

 

 <p>Nome: {{colaborador?.nome}}
 Sobrenome:{{colaborador?.sobrenome}}
</p>

<p>
    Data de Admissão:{{colaborador?.dataDeAdmissao}}
    Data de Demissão:{{colaborador?.dataDeDemissao}}
</p>
 
<p>
    Data de Nascimento:{{colaborador?.dataDeNascimento}}
    N° de Carteira de Trabalho: {{colaborador?.dataDeNascimento}}
</p>

<P>
    Cargo:{{colaborador?.cargo}}
    Regime de Contrato: {{colaborador?.regimeDoContrato}}

</P>


<br><br><br>

<mat-button-toggle (click)="filterCertificados()" ><mat-icon>search</mat-icon></mat-button-toggle>
<br>

<mat-form-field>
    <input matInput placeholder="Pesquisa pelo titulo "  [(ngModel)]=" filtro.titulo ">
  </mat-form-field>


<mat-form-field>
  <input matInput [matDatepicker]="data" placeholder="pesquisa pela data " [(ngModel)]="filtro.data" >
  <mat-datepicker-toggle matSuffix [for]="data"></mat-datepicker-toggle>
  <mat-datepicker #data></mat-datepicker>
</mat-form-field>


<mat-form-field>
    <input matInput placeholder=" Pesquisa pela descrição"  [(ngModel)]="filtro.descricao">
  </mat-form-field>

<br> <br> <br>
    <mat-button-toggle  class="buttunAdd-container" color="warn" [routerLink]= "['/cadastro-certificado',id]"><mat-icon> add_circle_outline </mat-icon></mat-button-toggle>

<td-data-table
[data]="certificados"
[columns]="configWidthColumns" >


<ng-template tdDataTableTemplate="acao"  let-row="row">
<button mat-raised-button  [routerLink]="['/editar-certificado',row.id]"> <mat-icon>edit</mat-icon></button>
<button mat-raised-button   (click)="openDialog(row.id)"> <mat-icon>visibility</mat-icon></button>
<button mat-raised-button  (click)="openConfirm(row.id)" > <mat-icon>delete</mat-icon></button>
</ng-template>

</td-data-table>
<td-paging-bar #pagingBar [firstLast]="firstLast" [pageSize]="5" [total]="100" (change)="page($event)">
    {{pagingBar.range}} of {{pagingBar.total}}
  </td-paging-bar>

