  
  .buttunVoltar {
    position:relative;
    top: 150%;
    left: 70%;
  }
  .tudo {
    min-height: 100%;

    }
    .buttunAdd-container {
      position:relative;
      top: 150%;
      left: 70%;
      
    }
    .tamanhoColana{
      width: 450px;
      height: 30px;
    }

    .buttunPesquisa {
      position:relative;
      top: 150%;
      left: 40%;
    }