<div flex="100" layout="column" layout-align="center center">
        <md-card flex>
                <div>
                        <h1 flex layout="row" layout-align="start center" class="md-headline tc-blue-grey-800 no-margin push">Detalhes da Tarefa</h1>
                        <div layout="row" layout-align="start center" layout-margin flex>
                                <div layout="column" *ngIf="tarefa">
                                        <md-divider></md-divider>
                                        <h1 flex class="md-subhead tc-blue-grey-500 text-break" *ngIf="tarefa.titulo">
                                                <b>Titulo:</b> {{tarefa?.titulo}}
                                        </h1>
                                        <h1 flex class="md-subhead tc-blue-grey-500 text-break" *ngIf="tarefa.descricao">
                                                <b>Descrição:</b> {{tarefa?.descricao}}
                                        </h1>
                                        <h1 flex class="md-subhead tc-blue-grey-500" *ngIf="tarefa.dataInicial">
                                                <b>Data inicial:</b> {{tarefa?.dataInicial | date: 'dd/MM/yyyy'}}
                                        </h1>
                                        <h1 flex class="md-subhead tc-blue-grey-500" *ngIf="tarefa.dataPrevistaFinal">
                                                <b>Data de previsão final:</b> {{tarefa?.dataPrevistaFinal | date: 'dd/MM/yyyy'}}
                                        </h1>
                                        <h1 flex class="md-subhead tc-blue-grey-500" *ngIf="tarefa.prioridade">
                                                <b>Prioridade:</b> {{tarefa?.prioridade}}
                                        </h1>
                                        <h1 flex class="md-subhead tc-blue-grey-500" *ngIf="tarefa.dataConclusao">
                                                <b>Data conclusão:</b> {{tarefa?.dataConclusao | date: 'dd/MM/yyyy'}}
                                        </h1>
                                        <h1 flex class="md-subhead tc-blue-grey-500" *ngIf="tarefa.donoTarefa.nome">
                                                <b> Dono da tarefa:</b> {{tarefa?.donoTarefa.nome}}
                                        </h1>
                                        <h1 flex class="md-subhead tc-blue-grey-500" *ngIf="tarefa.tempoEstimado">
                                                <b>Tempo estimado (em horas):</b> {{tarefa?.tempoEstimado}}
                                        </h1>
                                        <h1 flex class="md-subhead tc-blue-grey-500" *ngIf="tarefa.tempoGasto">
                                                <b>Tempo gasto (em horas):</b> {{tarefa?.tempoGasto}}
                                        </h1>
                                        <h1 flex class="md-subhead tc-blue-grey-500" *ngIf="tarefa.situacao">
                                                <b>Situação:</b> {{tarefa?.situacao}}
                                        </h1>
                                        <md-divider></md-divider>
                                        <div class="push" flex layout="row">
                                                <span flex></span>
                                                <button type="button" md-raised-button [routerLink]="['/tarefa/historicos', tarefa.id]" color="primary">Histórico</button>
                                                <button md-raised-button [routerLink]="['']">Voltar</button>
                                        </div>
                                </div>
                        </div>
                </div>
        </md-card>
</div>