


 <mat-button-toggle class="buttunVoltar-container" [routerLink]="['/detalhe-colaborador', idColaborador]" >Voltar</mat-button-toggle>
 <div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Titulo do certificado" [(ngModel)]="certificado.titulo"  required [errorStateMatcher]="CertificadoCadastroComponent" >
    <mat-error>Titulo é obrigatório </mat-error>
    
  </mat-form-field>
<div>

<mat-form-field>
  <input matInput [matDatepicker]="data" placeholder="Data " [(ngModel)]="certificado.data"  required [errorStateMatcher]="CertificadoCadastroComponent" >
  <mat-datepicker-toggle matSuffix [for]="data"></mat-datepicker-toggle>
  <mat-datepicker #data></mat-datepicker>
  <mat-error>Data é obrigatório </mat-error>
</mat-form-field>
</div>

<mat-form-field class="example-full-width">
  <textarea matInput placeholder="Descrição do certificado" [(ngModel)]="certificado.descricao" ></textarea>
</mat-form-field>

</div>
<br>  <br>  <br>
<button mat-raised-button  class="buttunSalvar-container" color="accent" (click)="insertCertificado(certificado)"  >Salvar </button>
