<div flex layout="column" layout-align="center center">

        <md-card class="pad">

                <div flex layout="row" layout-align="center center">
                        <h1 flex class="md-headline tc-blue-grey-800 no-margin push">Historicos da Tarefa</h1>
                </div>

                <md-divider></md-divider>

                <table td-data-table>
                        <thead>
                                <tr td-data-table-column-row>

                                        <th td-data-table-column [numeric]="1">Alterado por</th>
                                        <th td-data-table-column [numeric]="2">Comentário</th>
                                        <th td-data-table-column [numeric]="3">Data alteração</th>
                                        <th td-data-table-column [numeric]="4">Situação anterior</th>
                                        <th td-data-table-column [numeric]="5">Situação atual</th>

                                </tr>
                        </thead>
                        <tbody>
                                <tr td-data-table-row *ngFor="let historico of historicos">
                                        <td td-data-table-cell [numeric]="1">{{historico?.alteradoPor.nome}}</td>
                                        <td td-data-table-cell [numeric]="2">{{historico?.comentario}}</td>
                                        <td td-data-table-cell [numeric]="3">{{historico?.dataAlteracao | date: 'dd/MM/yyyy'}}</td>
                                        <td td-data-table-cell [numeric]="4">{{historico?.situacaoAnterior}}</td>
                                        <td td-data-table-cell [numeric]="5">{{historico?.situacaoAtual}}</td>
                                </tr>
                        </tbody>
                </table>

                <md-divider></md-divider>

                <div flex layout="row">
                        <div flex></div>
                        <button flex="20" class="push" md-raised-button [routerLink]="['']">Voltar</button>
                </div>
        </md-card>

</div>